h1, h2, h3, h4, h5, h6, a, p, ul, ol, li{
    padding:0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
}
button{
    padding: 0;
    border: 0;
    background-color: initial;
}
input{
    padding: 0;
    border:0;
}

*{
    font-family: 'Noto Sans KR', sans-serif;
}

h1{
    font-size: 2em
}
h2{
    font-size: 1.5em
}


#editor{
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #000;
}
main{
    padding: 10px max(100px, 15%);
    background: rgb(220, 195, 255);
    min-height: 100vh;
}
.title{
    width: 100%;
    padding: 30px;
    font-size: min(4vw, 30px);
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 2px 2px gray;
    box-sizing: border-box;
}

/* 작성하기 버튼 */
.memo-btn{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0 20px;
    width: 100%;
    height: min(70px, 10vw);
    background-color: #8686ff;
    border-radius: 10px;
    box-shadow: 0 5px 2px rgba(0,0,0,0.3);
    transition: .1s;
    cursor: pointer;
    border: 1px solid #000;
}
.memo-btn:active{
    transform: translateY(5px);
    box-shadow: none;
    background-color: rgba(0,0,0,0.1);
}

/* 기록된 메모 section */
.memo-section{
    background:white;
    border-radius: 20px;
    padding: 20px 30px;
    border: 1px solid #000;
}

/* 메모 section header */
.memo-section .section-header{
    display:flex;
    margin-bottom: 30px;
    justify-content: space-between;
}
.memo-section .switch-wrap{
    display: inline-flex;
    gap: 10px;
    align-items: center;
}
.memo-section .allmemo-delbtn{
    background-color: rgba(255,0,0,0.6);
    border-radius: 15px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 3px grey;
    transition: .2s;
    border: 1px solid #000;
}

.memo-section .allmemo-delbtn:hover{
    transform:scale(1.2);
    background-color: rgba(255,0,0,0.8);
}

/* onoff switch */
.onf-switch {
    position: relative;
    cursor: pointer;
    width: 58px;
    height: 28px;
    background: #fff;
    border: 2px solid #daa;
    border-radius: 20px;
    transition: 0.2s;
}

.onf-switch:hover {
    background: rgba(255,0,0,0.1)
}

.onf-btn {
    position: absolute;
    top: 4px;
    left: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #daa;
    transition: 0.2s;
}

.onf-switch.on{
    background-color: rgba(255,0,0,0.3);
}
.onf-switch.on .onf-btn{
    left: 34px;
    background: #fff;
    box-shadow: 1px 2px 3px #00000020;
    background-color: rgba(255,0,0,0.3);
}

/* savememo-section memo item */
.memo-wrap{
    background-color: #ffd767;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    box-shadow: 3px 3px 0 gray;
    word-break: break-all;
    border: 1px solid #000;
}
.memo-wrap header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.memo-wrap header time{
    font-size: 12px;
    color: #4c4c4c;
    flex-shrink: 0;
}

.memo-wrap:not(:last-child){
    margin-bottom: 20px;
}

/* 메모 삭제 버튼 */
.memo-wrap .del-btn{
    position: absolute;
    right: -15px;
    top: -15px;
    width: min(40px, 7vw);
    height: min(40px, 7vw);
    border-radius: 50%;
    color: #fff;
    background-color: #dd5347;
    transition: .1s;
    cursor: pointer;
    box-shadow: 0px 1px 3px gray;
    border: 1px solid #000;
}
.memo-wrap .del-btn::after{
    content: '\00d7';
    width: 30px;
    height: 30px;
}

.memo-wrap .del-btn:hover{
    background: #f51d00;
    transform:scale(1.1);
}
.memo-wrap .del-btn:active{
    transform: scale(1);
    box-shadow: 0 0 10px grey;
}

.memo-wrap .edit-btn{
    padding: 5px 20px;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid #000;
    box-shadow: 2px 2px 0 gray;
    cursor: pointer;
}

.memo-wrap .main-text{
    min-height: 150px;
}



@media (max-width: 768px){
    main{
        padding: 10px;
    }
    .memo-wrap header{
        flex-direction: column;
    }
    .memo-wrap time{
        align-self: flex-end;
    }
}